* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 15px 0;
    border-radius: 999px;

    background: var(--primary-color);
    color: #fff;

    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.control {
    display: flex;
    gap: 18px;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    background: transparent;
    color: #575f66;
}

.control-btn:hover {
    border: none;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* Header */
.header {
    position: sticky;
    top: -22px;
    z-index: 2;
    /* min-height: 100vh; */
    padding: 30px 0 8px;
    background: #10375c;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    display: inline-flex;
    gap: 0.6em;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: right;
}

.logo__brand--small {
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar {
    margin: 0 201px 0 auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-action__link {
    padding: 8px 21px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 2.8rem;
}

.navbar__link:hover,
.header-action__link:hover {
    color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 7px;
}

.header-action__btn {
    min-width: 104px;
    padding: 7px 0;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

/* Hero */
.hero {
    padding: 76px 0 110px;
    background: #10375c;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    width: 44.7%;
    padding: 60px 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin: 22px 0 38px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.hero__row {
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__images img:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 1;
}

.hero__images img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    margin-left: -6px;
    object-fit: cover;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__top {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin: 18px auto 70px;
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__content {
    width: 40.17%;
    padding: 35px 0 36px;
}

.service-item {
    display: flex;
    gap: 19px;
    padding: 21px 18px 20px 22px;
    border-radius: 10px;
    transition: 0.25s;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: var(--primary-color);
    color: #fff;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    color: #10375c;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item__title {
    margin-bottom: 8px;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    color: #575f66;
    font-weight: 300;
    line-height: 2.8rem;
}

.service .btn {
    margin-top: 55px;
}

/* Work */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    max-width: 468px;
    margin: 18px 0 86px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 16px;
    border-radius: 4px;
    background: #eaf6ff;
    transition: 0.25s;
}

.work-item div {
    padding: 43px 42px;
    border-radius: 4px;
    background: #fff;
}

.work-item:hover {
    background: var(--primary-color);
    transform: translateY(-16px);
}

.work-item:hover .work-item__link {
    color: var(--primary-color);
    font-weight: 400;
}

.work-item__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.work-item__desc {
    margin: 28px 0 18px;
    color: #575f66;
    font-weight: 300;
    line-height: 2.8rem;
}

.work-item__link {
    color: #575f66;
    font-weight: 300;
    line-height: 2.8rem;
}

/* Feature */
.feature {
    padding: 170px 0 85px;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
}

.feature__images {
    position: relative;
}

.feature__images img {
    display: block;
    border-radius: 6px;
    object-fit: cover;
}

.feature__images img:first-child {
    width: 512px;
    height: 370px;
}

.feature__images img:last-child {
    position: absolute;
    right: -58px;
    bottom: 0px;
    width: 332px;
    height: 370px;
}

.feature__content {
    width: 51.28%;
    max-width: 470px;
    padding: 82px 0 83px;
}

.feature__desc {
    margin: 18px 0 38px;
}

/* Member */
.member {
    padding: 85px 0;
}

.member__top {
    text-align: center;
}

.member__btn {
    margin: 38px 0 70px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    border-radius: 6px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: center;
}

.member-item__desc {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem;
    text-align: center;
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}
